<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
</head>
<body>
<div th:fragment="admin">
    <div th:replace="admin/header :: header"></div>
    <div class="right user-list">
        <ol class="breadcrumb">
            <li><a href="#">权限管理</a></li>
            <li>当前注册用户</li>
        </ol>
        <ul class="list-group" id="delete">
            <div th:each="list : ${list}">
                <li class="list-group-item">
                    <a href="#" class="account" th:text="${list.account}"></a>
                    <a th:href="@{/persondetial?account=}+${list.account}+'&amp;curr='+${name}" th:text="'创建于'+${{list.createtime}}"></a>
                    <a href="#" class="pull-right delete" th:alt="${list.account}"><span class="glyphicon glyphicon-remove"></span></a>
                </li>
            </div>
        </ul>
        <ul class="pagination pull-right">
            <!--<li><a href="#">&laquo;</a></li>-->
            <!--总页:<li th:text="${list.totalPages}"></li>-->
            <!--当前页:<li th:text="${list.number}"></li>-->
            <!--每页:<li th:text="${list.size}"></li>-->
            <li th:each="pageNo : ${#numbers.sequence(0, list.totalPages - 1)}" th:class="${pageNo==list.number}? 'active':''">
                <a th:href="@{/?page=}+${pageNo}+'&amp;size=10'" th:text="${pageNo+1}"></a>
            </li>
            <!--<li><a href="#">&raquo;</a></li>-->
        </ul>
    </div>
</div>
</body>
</html>