<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
</head>
<body>
<div class="left" th:fragment="header">
    <ul class="list-group">
        <li class="list-group-item"><h3>权限管理</h3></li>
        <li class="list-group-item active"><a href="#">当前用户</a></li>
        <li class="list-group-item"><a th:href="@{/xxkg?account=}+${name}">小小矿工</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd?account=}+${name}">英雄无敌</a></li>
        <!--<li class="list-group-item"><a href="#">雨巷</a></li>-->
        <!--<li class="list-group-item"><a href="#">英雄的黎明</a></li>-->
        <!--<li class="list-group-item"><a href="#">故乡的原风景</a></li>-->
    </ul>
</div>
</body>
</html>