<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="nav">
    <div class="navbar-header">
        <h2>兔美游戏</h2>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li class="face"><a href="#"><img th:src="@{/image/face.png}" alt=""/></a></li>
        <li class="name"><a href="#" th:text="${name}">黑泽</a></li>
        <li class="exit"><a href="#"><img th:src="@{/image/exit.png}" alt=""/></a></li>
    </ul>
</nav>
</body>
</html>