::-webkit-scrollbar{
	width: 0;
}
nav{
	padding:0 20px;
	/*border:1px solid red;*/
}
nav .navbar-header h2{
	/*border:1px solid #333;*/
}
nav ul.nav{
	margin-top:5px;
}
nav ul.nav li{
	margin-right:10px;
}
nav ul.nav li.face{
	width:52px;
	height:52px;
	border-radius: 26px;
	overflow: hidden;
	border:1px solid #666;
}
nav ul.nav li.face a{
	padding:0;
}
/*服务器录入*/
#xxkg{
	/*border:1px solid red;*/
	position: relative;
}
#xxkg nav ul.nav li.exit a{
	padding:10px 0px;
}
#xxkg .left{
	position: absolute;
	/*border:1px solid indianred;*/
	width:260px;
	top:80px;
}
#xxkg .left h3{
	padding-left:30px;
}
#xxkg .left .list-group-item{
	padding-left:30px;
}
#xxkg .left .list-group-item:not(:first-child):hover{
	background:#428bca;
}
#xxkg .left .list-group-item:hover a{
	color: #fff;
}
#xxkg .left li.active a{
	color: #fff;
}
#xxkg .right{
	position: absolute;
	width:75%;
	margin-left:270px;
	/*border:1px solid red;*/
}
#xxkg .right .breadcrumb{
	margin-top:80px;
	border:1px solid #4d90b4;
}
#xxkg .right .row{
	text-align: center;
	margin:0;
}
#xxkg .right div.nav{
	line-height:30px;
	/*border:1px solid green;*/
	border-bottom:1px solid #666;
}
#xxkg .right .box{
	margin-top:10px;
	padding:5px 0;
	height:300px;
	overflow-y: scroll;
	border-bottom:1px solid #999;
}
#xxkg .right .box .row{
	line-height: 30px;
	border-bottom:1px dashed #ccc;
}
#xxkg .right button{
	margin-top:10px;
}
#add .modal-dialog{
	width:700px;
	margin:200px auto;
}
#add .row>div{
	text-align: center;
	/*border:1px solid red;*/
}
#add .row>div input{
	padding-left:5px;
	width:100%;
}
#add .row>div input,select{
	height: 30px;
}
/*#xxkg .right div.nav>div{*/
	/*border:1px solid green;*/
/*}*/
/*公告修改*/
#xxkg .right .about-xxkg{
	/*border:1px solid red;*/
}
#xxkg .right .about-xxkg .row .col-xs-8{
	padding:0;
}
#xxkg .right .about-xxkg .row>div{
	/*border:1px solid red;*/
}
#xxkg .right .about-xxkg .row .notice{
	height:350px;
	text-align: left;
	border:1px solid #999;
	border-radius: 5px;
	padding:10px;
}
#xxkg .right .about-xxkg .row .pick-color{
	width:40px;
	height:40px;
}
#xxkg .right .about-xxkg .row .tip{
	line-height:40px;
	/*border:1px solid green;*/
}
#xxkg .right .about-xxkg .row button{
	margin-top:255px;
}
	/*邮件发送*/

/*信息查询*/

/*指令记录*/

/*多邮件发送*/
#about-mails{
	/*border:1px solid yellow;*/
	width:1012px;
}
#about-mails .many-email{
	width:800px;
	height: 600px;
	padding:10px;
	margin-top:100px;
	float: left;
}
#about-mails .many-email lable{
	text-align: right;
	padding:5px 0;
}
#about-mails .many-email textarea{
	resize: none;
}
/*多邮件发送*/

/*礼包生成*/

/*条件查询*/
#about-search{
	width:1000px;
	/*border:1px solid yellow;*/
}
#about-search .list-group{
	padding:20px 0;
	/*border:1px solid yellow;*/
	border-bottom:1px solid #fff;
}
#about-search .list-group .list-group-item button{
	margin-right:20px;
}
#about-search .list-group .list-group-item input{
	width:80px;
	line-height:26px;
	border:0px;
	text-align: center;
	background: transparent;
	border-bottom:1px solid #fff;
}
#about-search .list-group .list-group-item small{
	color: #999;
}
#about-search .show-result{
	padding:0;
	height:300px;
	overflow-y: scroll;
	border:2px solid #999;
}


