::-webkit-scrollbar{
	width: 0;
}
nav{
	padding:0 20px;
	/*border:1px solid red;*/
}
nav .navbar-header h2{
	/*border:1px solid #333;*/
}
nav ul.nav{
	margin-top:5px;
}
nav ul.nav li{
	width:52px;
	height:52px;
	/*border:1px solid green;*/
}
nav ul.nav li a{
	line-height: 26px;
}
nav ul.nav li.face{
	border-radius: 26px;
	overflow: hidden;
	border:1px solid #666;
}
nav ul.nav li.face a{
	padding:0;
}
textarea{
	resize: none;
}
.clear{
	clear: both;
}
/*服务器录入*/
#xxkg{
	/*border:1px solid red;*/
	position: relative;
}
#xxkg nav ul.nav li.exit a{
	padding:10px 0px;
}
#xxkg .left{
	position: absolute;
	/*border:1px solid indianred;*/
	width:260px;
	top:80px;
}
#xxkg .left h3{
	padding-left:30px;
}
#xxkg .left .list-group-item{
	padding-left:30px;
}
#xxkg .left .list-group-item:not(:first-child):hover{
	background:#428bca;
}
#xxkg .left .list-group-item:hover a{
	color: #fff;
}
#xxkg .left li.active a{
	color: #fff;
}
#xxkg .right{
	position: absolute;
	width:75%;
	margin-left:270px;
	/*border:1px solid red;*/
}
#xxkg .right .breadcrumb{
	margin-top:80px;
	border:1px solid #4d90b4;
}
#xxkg .right .row{
	text-align: center;
	margin:0;
}
#xxkg .right div.nav{
	line-height:30px;
	/*border:1px solid green;*/
	border-bottom:1px solid #666;
}
#xxkg .right .box{
	margin-top:10px;
	padding:5px 0;
	height:300px;
	overflow-y: scroll;
	border-bottom:1px solid #999;
}
#xxkg .right .box .row{
	line-height: 30px;
	border-bottom:1px dashed #ccc;
}
#xxkg .right button{
	/*margin-top:10px;*/
}
#add .modal-dialog{
	width:700px;
	margin:200px auto;
}
#add .row>div{
	text-align: center;
	/*border:1px solid red;*/
}
#add .row>div input{
	padding-left:5px;
	width:100%;
}
#add .row>div input,select{
	height: 30px;
}
/*#xxkg .right div.nav>div{*/
	/*border:1px solid green;*/
/*}*/
/*公告修改*/
#xxkg .right .about-xxkg{
	/*border:1px solid red;*/
}
#xxkg .right .about-xxkg .row .col-xs-8{
	padding:0;
}
#xxkg .right .about-xxkg .row>div{
	/*border:1px solid red;*/
}
#xxkg .right .about-xxkg .row .notice{
	height:350px;
	text-align: left;
	border:1px solid #999;
	border-radius: 5px;
	padding:10px;
	overflow-y: scroll;
}
#xxkg .right .about-xxkg .row .pick-color{
	width:40px;
	height:40px;
}
#xxkg .right .about-xxkg .row .tip{
	line-height:40px;
	/*border:1px solid green;*/
}
#xxkg .right .about-xxkg .row button{
	margin-top:255px;
}
	/*邮件发送*/
#xxkg .right .about-xxkg .row lable{
	text-align: right;
	line-height: 32px;
}
#xxkg .right .about-xxkg .row .form-group{
	/*border:1px solid green;*/
}
#xxkg .right .about-xxkg .row .forward{
	/*border:1px solid green;*/
}
#xxkg .right .about-xxkg .row .forward .col-xs-10 .form-control{
	text-align: left;
}
#xxkg .right .about-xxkg .row .forward .col-xs-10 .form-control span.good-number{
	padding:0 5px;
	color:#0068b7;
	border:1px solid #0068b7;
	border-radius:3px;
}
#xxkg .right .about-xxkg .row .search{
	/*border:1px solid red;*/
	line-height: 30px;
	border:1px solid #ccc;
}
#xxkg .right .about-xxkg .row .search span{
	margin-left:5px;
	line-height: 34px;
}
#xxkg .right .about-xxkg .row .search input{
	width:100%;
}
#xxkg .right .about-xxkg .row .search .col-xs-10{
	padding:0;
}
#xxkg .right .about-xxkg .row .search .col-xs-2{
	padding-left:0px;
}
#xxkg .right .about-xxkg .row .xxkg-result{
	margin-top:10px;
	height: 365px;
	overflow-y: scroll;
	border:1px solid #ccc;
	border-radius: 4px;
}
#xxkg .right .about-xxkg .row button.email{
	margin-top:15px;
}
/*信息查询*/
#xxkg .right .about-xxkg .info{
	/*border:1px solid green;*/
}
#xxkg .right .about-xxkg .info .row{
	/*text-align: left;*/
}
#xxkg .right .about-xxkg .info .row>div{
	/*border:1px solid #666;*/
}
#xxkg .right .about-xxkg .info .condition{
	/*border:1px solid #ccc;*/
	border-radius: 4px;
}
#xxkg .right .about-xxkg .info .condition button.info-search{
	margin-top:0;
	width:100%;
}
#xxkg .right .about-xxkg .info .condition .col-xs-4{
	padding-left:10px;
	padding-right: 0;
 }
#xxkg .right .about-xxkg .info .result{
	margin-top:10px;
	height:auto;/*495px*/
	text-align: left;
}
#xxkg .right .about-xxkg .info .panel-footer{
	padding:5px;
}
#xxkg .right .about-xxkg .info .panel-footer button{
	margin-top:0;
}
#xxkg .right .about-xxkg .info .action-info div.no .panel-heading{
	padding:5px 15px;
}
#xxkg .right .about-xxkg .info .action-info .panel-body{
	padding:17px 15px;
}
/*物品*/
#xxkg .right .about-xxkg .info .panel-body span.good-number{
	padding:0 5px;
	color: #fff;
	background: #f0ad4e;
	border-radius: 4px;
}
/*英雄*/
#xxkg .right .about-xxkg .info .search-info .panel-heading{
	padding:5px 15px;
}
#xxkg .right .about-xxkg .info .search-info .search-good span.glyphicon{
	margin-top:8px;
}
#xxkg .right .about-xxkg .info .search-info .search-hero span.glyphicon{
	margin-top:8px;
}
#xxkg .right .about-xxkg .info .search-info .search-good .panel-body{
	height:217px;
	padding:5px;
	overflow-y: scroll;
}
#xxkg .right .about-xxkg .info .search-info .search-hero .panel-body{
	height:207px;
	padding:5px;
	overflow-y: scroll;
}
/*指令记录*/

/*多邮件发送*/
#xxkg .right .write{
	/*border:1px solid red;*/
}
#xxkg .right .write .row>div{
	/*border:1px solid green;*/
}
#xxkg .right .write .col-xs-8 .form-group label{
	/*border:1px solid blue;*/
	line-height: 32px;
	font-weight: normal;
	text-align: right;
	letter-spacing: 1px;
	color: #666;
}
#xxkg .right .write .col-xs-8 .awards .form-control{
	text-align: left;
}
#xxkg .right .write .col-xs-8 .awards span.good-number{
	padding:0 5px;
	border-radius:4px;
	border:1px solid #428bca;
	color: #428bca;
}
#xxkg .right .write .row .search{
	/*border:1px solid red;*/
	line-height: 30px;
	border:1px solid #ccc;
}
#xxkg .right .write .row .search span{
	margin-left:5px;
	line-height: 34px;
}
#xxkg .right .write .row .search input{
	width:100%;
}
#xxkg .right .write .row .search .col-xs-10{
	padding:0;
}
#xxkg .right .write .row .search .col-xs-2{
	padding-left:0px;
	color: #fff;
	background: #428bca;
}
#xxkg .right .write .row .xxkg-result{
	margin-top:10px;
	height: 400px;
	overflow-y: scroll;
	border:1px solid #ccc;
	border-radius: 4px;
}
/*通知发送*/
#xxkg .right .message div.panel-body{
	/*border:1px solid red;*/
	padding:15px;
}
#xxkg .right .message div.panel-body div.checkbox{
	/*border:1px solid green;*/
	margin:0 10px;
}
#xxkg .right .message div.panel-heading span{
	/*color: #428bca;*/
	margin-top:-7px;
}
#xxkg .right .message div.panel-body button{
	margin-top:0;
}
#xxkg .right .message .mess-box div.panel-body{
	height:280px;
	overflow-y: scroll;
}
#msg{
	padding-top:200px;
}
#msg textarea{
	width:100%;
	border:1px solid #ccc;
	border-radius:4px;
}
#msg .modal-body .col-xs-6{
	/*border:1px solid green;*/
	padding:0;
}
#msg .modal-body div.times{
	/*border:1px solid red;*/
}
#msg .modal-body div.row{
	margin:0;
}
#msg .modal-body p{
	margin-top:10px;
}
#msg .modal-body input{
	width:100%;
	line-height:24px;
}
/*礼包生成*/
#gift .row .col-xs-8{
	padding:0;
	/*border:1px solid red;*/
}
#gift .row .col-xs-8 .panel-body>div{
	/*border:1px solid green;*/
	padding:0;
}
#gift .panel-body .row .col-xs-6 .row{
	margin-top:10px;
}
#gift .panel-body .col-xs-4{
	line-height:34px;
}
#normal-gift .normal-box,#bug-gift .bug-box,#init-gift .init-box{
	border:1px solid #ccc;
	padding:5px;
	height:180px;
	overflow-y: scroll;
	border-radius:5px;
}
#normal-gift .normal-box ul li,#bug-gift .bug-box ul li,#init-gift .init-box ul li{
	padding:0;
	border-left:none;
	border-right:none;
	border-radius: 0;
}
#init-awards,#bug-awards,#normal-awards{
	padding-top:200px;
}
#init-awards .modal-header{
	/*border:1px solid red;*/
}
#init-awards .modal-header input,#bug-awards .modal-header input,#normal-awards .modal-header input{
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
}
#init-awards .modal-header span,#bug-awards .modal-header span,#normal-awards .modal-header span{
	margin-top:7px;
	margin-left:5px;
	font-size: larger;
	color: #357ebd;
	/*border:1px solid green;*/
}
#init-awards .modal-header h2,#bug-awards .modal-header h2,#normal-awards .modal-header h2{
	display: inline;
}
#init-awards .modal-body,#bug-awards .modal-body,#normal-awards .modal-body{
	height:200px;
	overflow-y: scroll;
}
#init-awards .modal-body .row,#bug-awards .modal-body .row,#normal-awards .modal-body .row{
	margin-top:8px;
}
#init-awards .modal-body>div,#bug-awards .modal-body>div,#normal-awards .modal-body>div{
	margin:3px 0;
	color: #333;
}
#init-awards .modal-footer div.sel,#bug-awards .modal-footer div.sel,#normal-awards .modal-footer div.sel{
	/*border:1px solid red;*/
	padding:3px;
	width:430px;
	text-align: left;
}
#init-awards .modal-footer span.number,#bug-awards .modal-footer span.number,#normal-awards .modal-footer span.number{
	border:1px solid #357ebd;
	padding:0 5px;
	margin:0 3px;
	border-radius: 5px;
}
#normal-gift div.form-control{
	padding:15px 0;
	height:auto;
}
#bug-gift div.form-control{
	padding:15px 0;
	height:auto;
}
#init-gift div.form-control{
	padding:15px 0;
	height:auto;
}
/*条件查询*/
#limite ul li{
	line-height:30px;
}
#limite ul li form>input{
	border:none;
	width:60px;
	border-bottom: 1px solid #999;
}
#limite ul li form>small{
	color: #ccc;
}
#limite .lim-result .panel-body{
	height:340px;
	overflow-y: scroll;
}



