<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/welcome.css"/>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div id="main">
    <div class="container-fluit">
        <div class="row">
            <div class="col-xs-2 left">
                <p>上海兔美游戏有限公司</p>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">公司概况</a></li>
                    <li><a href="#">参与项目</a></li>
                    <li><a href="#">公司成员</a></li>
                    <li><a href="#">与我合作</a></li>
                    <li><a href="#">其它</a></li>
                </ul>
                <p class="back"><a href="/welcome.html">首页</a></p>
            </div>
            <div class="col-xs-10 right">
                <div class="indroduce show nav">
                    <p>这里是公司简介</p>
                    蒹葭苍苍，白露为霜。所谓伊人，在水一方，溯洄从之，道阻且长。溯游从之，宛在水中央。蒹葭萋萋，
                    白露未晞。所谓伊人，在水之湄。溯洄从之，道阻且跻。溯游从之，宛在水中坻。蒹葭采采，白露未已。
                    所谓伊人，在水之涘。溯洄从之，道阻且右。溯游从之，宛在水中沚。
                </div>
                <div class="hidden nav project">
                    <div class="pro">
                        <div class="page-header">
                            <h2>
                                <img src="image/xxkg.jpg" alt=""/>
                                小小矿工
                                <small>(角色扮演)</small>
                            </h2>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>游戏简介：</p>
                                <div class="box">这里是小小矿工的游戏简介巴拉巴拉哈哈哈...</div>
                            </li>
                            <li class="list-group-item">
                                <p>上线时间：</p>
                                <div class="box">2016-12-13</div>
                            </li>
                            <li class="list-group-item">
                                <p>玩家好评：</p>
                                <div class="box progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span>90% 好评</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <p>游戏下载：</p>
                                <div class="box"><a href="http://www.baidu.com">http://www.baidu.com</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="pro">
                        <div class="page-header">
                            <h2>
                                <img src="image/yxwd.jpg" alt=""/>
                                英雄无敌
                                <small>(角色扮演)</small>
                            </h2>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>游戏简介：</p>
                                <div class="box">这里是英雄无敌的游戏简介巴拉巴拉哈哈哈...</div>
                            </li>
                            <li class="list-group-item">
                                <p>上线时间：</p>
                                <div class="box">2016-12-13</div>
                            </li>
                            <li class="list-group-item">
                                <p>玩家好评：</p>
                                <div class="box progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 96%;">
                                        <span>96% 好评</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <p>游戏下载：</p>
                                <div class="box"><a href="http://www.baidu.com">http://www.baidu.com</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="pro">
                        <div class="page-header">
                            <h2>
                                <img src="image/yys.jpg" alt=""/>
                                阴阳师
                                <small>(角色扮演)</small>
                            </h2>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>游戏简介：</p>
                                <div class="box">这里是阴阳师的游戏简介巴拉巴拉哈哈哈...</div>
                            </li>
                            <li class="list-group-item">
                                <p>上线时间：</p>
                                <div class="box">2016-12-13</div>
                            </li>
                            <li class="list-group-item">
                                <p>玩家好评：</p>
                                <div class="box progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                        <span>98% 好评</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <p>游戏下载：</p>
                                <div class="box"><a href="http://www.baidu.com">http://www.baidu.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/common.js"></script>
</body>
</html>