<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>矿工物语</title>
    <script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/xxkg/index.css" th:href="@{/css/xxkg/index.css}"/>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        $(document).ready(function(){
            $('#main .container-fluit .row>div.col-xs-2.left ul li').eq(8).addClass('active');
        })
    </script>
</head>
<body>
<div id="main">
    <div class="container-fluit">
        <div class="row">
            <div th:replace="xxkg/header :: copy">
                导航栏
            </div>
            <div class="col-xs-10 right">
                <div id="about-search">
                    <div class="page-header">
                        <h2>查询条件</h2>
                    </div>
                    <ul class="list-group condition">
                        <li class="list-group-item">
                            <button class="btn btn-info">&nbsp;&nbsp;V I P&nbsp;</button>
                            <input type="number" class="left"/>&lt; V I P &lt;<input type="number" class="right"/>
                            <small>(左边填写负数表示查询vip等级最高,右边填写负数表示查询vip等级最低)</small>
                            <button class="btn btn-danger pull-right">查询</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-info">LEVEL</button>
                            <input type="number" class="left"/> &lt; LEVEL &lt; <input type="number" class="right"/>
                            <small>(左边填写负数表示查询level等级最高,右边填写负数表示查询level等级最低)</small>
                            <button class="btn btn-danger pull-right">查询</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-info">&nbsp;充 值&nbsp;</button>
                            <input type="number" class="left"/> &lt; 充值 &lt; <input type="number" class="right"/>
                            <small>(左边填写负数表示查询充值等级最高,右边填写负数表示查询充值等级最低)</small>
                            <button class="btn btn-danger pull-right">充值</button>
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <small>*若左右值均为负则代表不查该项</small>
                            <button class="btn btn-danger pull-right">多条件查询</button>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="page-header">
                        <h2>查询结果
                            <small class="pull-right">
                                <a href="#">查询结果下载.xlsx</a>
                            </small>
                        </h2>
                    </div>
                    <ul class="list-group show-result">
                        <li class="list-group-item">1、VIP:1120,金币:2300</li>
                        <li class="list-group-item">2</li>
                        <li class="list-group-item">3</li>
                        <li class="list-group-item">4</li>
                        <li class="list-group-item">5</li>
                        <li class="list-group-item">6</li>
                        <li class="list-group-item">7</li>
                        <li class="list-group-item">8</li>
                        <li class="list-group-item">9</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/xxkg/conditionsearch.js" th:src="@{../js/xxkg/conditionsearch.js}"></script>
</body>
</html>