<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>矿工物语</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/xxkg/index.css"/>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</head>
<body>
<div id="main">
    <div class="container-fluit">
        <div class="row">
            <div class="col-xs-3">
                <p>矿工物语</p>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="index.html">服务器录入</a></li>
                    <li><a href="noticechange.html">公告修改</a></li>
                    <li><a href="sendemail.html">邮件发送</a></li>
                    <li><a href="searchonfo.html">查询信息</a></li>
                    <li><a href="orderwrite.html">指令记录</a></li>
                    <li><a href="manymail.html">多邮件发送</a></li>
                    <li><a href="sendmessage.html">通知发送</a></li>
                    <li><a href="giftcreate.html">礼包生成</a></li>
                    <li class="active"><a href="conditionsearch.html">条件查询</a></li>
                </ul>
                <p class="back"><a href="/">首页</a></p>
            </div>
            <div class="col-xs-9">
                <div class="notice-change show nav">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>