<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <div class="col-xs-2 left">
        <p>矿工物语</p>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="index.html">服务器录入</a></li>
            <li class="active"><a href="noticechange.html">公告修改</a></li>
            <li><a href="sendemail.html">邮件发送</a></li>
            <li><a href="searchinfo.html">查询信息</a></li>
            <li><a href="orderwrite.html">指令记录</a></li>
            <li><a href="manymail.html">多邮件发送</a></li>
            <li><a href="sendmessage.html">通知发送</a></li>
            <li><a href="giftcreate.html">礼包生成</a></li>
            <li><a href="conditionsearch.html">条件查询</a></li>
        </ul>
        <p class="back"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span>首页</a></p>
    </div>
</div>
</body>
</html>