<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>兔美游戏后台权限管理</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/xxkg/index.css}"/>
	<script src="../../static/js/jquery-1.10.2.min.js" type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script src="../../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function(){
            $('#xxkg .left .list-group-item').eq(1).addClass('active');
		})
	</script>
</head>
<body>
<div th:replace="xxkg/nav :: nav"></div>
<div id="xxkg">
	<div th:replace="xxkg/header :: header"></div>
	<div class="right">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">首页</a></li>
			<li>小小矿工</li>
		</ol>
		<div class="row nav">
			<div class="col-xs-2">ID</div>
			<div class="col-xs-2">GM路径</div>
			<div class="col-xs-2">账号</div>
			<div class="col-xs-2">密码</div>
			<div class="col-xs-2">类型</div>
			<div class="col-xs-2">操作</div>
		</div>
		<div class="box">
			<div class="row" th:each="se : ${server}" th:switch="${se.type}">
				<div class="col-xs-2 id" th:text="${se.serId}">998</div>
				<div class="col-xs-2 gm" contenteditable="true" th:text="${se.gm}">http://192.168.1.222:12003</div>
				<div class="col-xs-2 account" contenteditable="true" th:text="${se.account}">nian</div>
				<div class="col-xs-2 pass" contenteditable="true" th:text="${se.pass}">2014123</div>
				<div class="col-xs-2 type" data-toggle="popover" data-target="body" data-placement="bottom" th:case="1" alt="1">Game逻辑服务器</div>
				<div class="col-xs-2 type" data-toggle="popover" data-target="body" data-placement="bottom" th:case="2" alt="2">中心服务器</div>
				<div class="col-xs-2 type" data-toggle="popover" data-target="body" data-placement="bottom" th:case="3" alt="3">Hub服务器</div>
				<div class="col-xs-2 type" data-toggle="popover" data-target="body" data-placement="bottom" th:case="4" alt="4">矿区服务器</div>
				<div class="col-xs-2">
					<span class="edit" th:alt="${se.serId}">修改</span>/<span class="delete" th:alt="${se.serId}" data-toggle="modal" data-target="#delete">删除</span>
				</div>
			</div>
		</div>
		<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#add" style="margin-top: 10px;">增加</button>
	</div>
	<div id="add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row">
						<div class="col-xs-2">ID</div>
						<div class="col-xs-2">GM路径</div>
						<div class="col-xs-2">账号</div>
						<div class="col-xs-2">密码</div>
						<div class="col-xs-2">类型</div>
						<div class="col-xs-2">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-2">
							<input type="text" class="id" placeholder="ID..."/>
						</div>
						<div class="col-xs-2">
							<input type="text" class="gm" placeholder="GM路径..."/>
						</div>
						<div class="col-xs-2">
							<input type="text" class="account" placeholder="账号..."/>
						</div>
						<div class="col-xs-2">
							<input type="text" class="pass" placeholder="密码..."/>
						</div>
						<div class="col-xs-2">
							<select class="type">
								<option value="1">Game逻辑服务器</option>
								<option value="2">中心服务器</option>
								<option value="3">Hub服务器</option>
								<option value="4">矿区服务器</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary ok">确定</button>
				</div>
			</div>
		</div>
	</div>
	<div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h2>确定删除服务器?</h2>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary ok">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/xxkg/index.js}"></script>
</body>
</html>