<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/xxkg/index.css}"/>
    <script src="../../static/js/jquery-1.10.2.min.js" type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        $(document).ready(function(){
            $('#xxkg .left .list-group-item').eq(2).addClass('active');
        })
    </script>
</head>
<body>
<div th:replace="xxkg/nav :: nav"></div>
<div id="xxkg">
    <div th:replace="xxkg/header :: header"></div>
    <div class="right">
        <ol class="breadcrumb">
            <li><a th:href="@{/}">首页</a></li>
            <li><a th:href="@{/xxkg?account=}+${name}">小小矿工</a></li>
            <li>游戏公告</li>
        </ol>
        <p>中心服务器GM路径 : <span th:text="${zx.gm}"></span></p>
        <div class="about-xxkg">
            <div class="row">
                <div class="col-xs-8">
                    <div class="notice" contenteditable="true" th:utext="${json}">
                    </div>
                </div>
                <div class="col-xs-4">
                    <input type="color" class="pick-color pull-left"/>
                    <span class="tip pull-left">&nbsp;&nbsp;&lt;&lt;点击选择颜色</span>
                    <br/><br/><br/>
                    <button class="btn btn-primary pull-left">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/xxkg/notice.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/common.js}"></script>
</body>
</html>