<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>矿工物语</title>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/xxkg/index.css"/>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#main .container-fluit .row>div.col-xs-2.left ul li').eq(3).addClass('active');
        })
    </script>
</head>
<body>
<div id="main">
    <div class="container-fluit">
        <div class="row">
            <div th:replace="xxkg/header :: copy">左边导航栏</div>
            <div class="col-xs-10 right">
                <div class="search-info">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入昵称或ID..."/>
                            </div>
                            <button class="col-sm-2 control-lable btn btn-info">查找</button>
                        </div>
                    </form>
                    <div class="show-result">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">磨人的小妖精</span>
                                金币
                            </li>
                            <li class="list-group-item">
                                <span class="badge">43800</span>
                                游戏经验
                            </li>
                            <li class="list-group-item">
                                <span class="badge">12</span>
                                VIP等级
                            </li>
                            <li class="list-group-item">
                                <span class="badge">http://192.168.1.222:9527</span>
                                所在服务器
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-action">
                    <ol class="breadcrumb">
                        <li><a href="">矿工物语</a></li>
                        <li><a href="">查询信息</a></li>
                        <li class="active">操作玩家行为</li>
                    </ol>
                    <div class="btn-group">
                        <button class="btn btn-danger" data-target="#nosay" data-toggle="modal">禁言</button>
                        <button class="btn btn-warning" data-target="#nologin" data-toggle="modal">禁止登陆</button>
                        <button class="btn btn-info">解禁</button>
                    </div>
                    <ol class="breadcrumb" style="margin-top: 20px;">
                        <li><a href="">矿工物语</a></li>
                        <li><a href="">查询信息</a></li>
                        <li class="active">增加玩家物品</li>
                    </ol>
                    <div class="good">物品 : <button class="btn btn-primary name" data-target="#choose-good" data-toggle="modal">点击选择物品</button>&nbsp;&nbsp;
                        数量 : <input type="number" placeholder="请输入数量..."/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success">添加</button>
                    </div>
                    <div class="hero">英雄 : <button class="btn btn-primary name" data-target="#choose-hero" data-toggle="modal">点击选择英雄</button>&nbsp;&nbsp;
                        数量 : <input type="number" placeholder="请输入数量..."/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success">添加</button>
                    </div>
                </div>
                <div id="nosay" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>玩家禁言<small>(*禁言后玩家将不能在世界频道说话)</small></h3>
                            </div>
                            <div class="modal-body">
                                <button class="btn btn-danger">禁言时间</button><input type="text" value="1"/>
                                <select>
                                    <option value="1">小时</option>
                                    <option value="2">天</option>
                                    <option value="3">月</option>
                                    <option value="4">永久禁言</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nologin" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>禁止玩家登陆<small> (*禁言后玩家将不能登陆游戏)</small></h3>
                            </div>
                            <div class="modal-body">
                                <button class="btn btn-warning">禁止登陆时间</button><input type="text" value="1"/>
                                <select>
                                    <option value="1">小时</option>
                                    <option value="2">天</option>
                                    <option value="3">月</option>
                                    <option value="4">永久禁言</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary">确认</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="choose-good" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-sm-2" style="line-height:30px;"><b>物品奖励</b></div>
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="text" placeholder="关键字..."/>
                                            </div>
                                            <div class="col-xs-4">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-2"><p alt="1">金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="choose-hero" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-sm-2" style="line-height:30px;"><b>英雄奖励</b></div>
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="text" placeholder="关键字..."/>
                                            </div>
                                            <div class="col-xs-4">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-2"><p alt="22">金币</p></div>
                                    <div class="col-sm-2"><p alt="5">钻石</p></div>
                                    <div class="col-sm-2"><p alt="12">水晶石</p></div>
                                    <div class="col-sm-2"><p alt="24">鸡蛋</p></div>
                                    <div class="col-sm-2"><p alt="54">巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p alt="32">奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p alt="54">金币</p></div>
                                    <div class="col-sm-2"><p alt="32">钻石</p></div>
                                    <div class="col-sm-2"><p alt="72">水晶石</p></div>
                                    <div class="col-sm-2"><p alt="21">鸡蛋</p></div>
                                    <div class="col-sm-2"><p alt="24">巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p alt="32">奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p alt="24">金币</p></div>
                                    <div class="col-sm-2"><p alt="54">钻石</p></div>
                                    <div class="col-sm-2"><p alt="76">水晶石</p></div>
                                    <div class="col-sm-2"><p alt="87">鸡蛋</p></div>
                                    <div class="col-sm-2"><p alt="45">巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p alt="65">奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p alt="62">金币</p></div>
                                    <div class="col-sm-2"><p alt="29">钻石</p></div>
                                    <div class="col-sm-2"><p alt="32">水晶石</p></div>
                                    <div class="col-sm-2"><p alt="298">鸡蛋</p></div>
                                    <div class="col-sm-2"><p alt="52">巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p alt="44">奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2"><p>金币</p></div>
                                    <div class="col-sm-2"><p>钻石</p></div>
                                    <div class="col-sm-2"><p>水晶石</p></div>
                                    <div class="col-sm-2"><p>鸡蛋</p></div>
                                    <div class="col-sm-2"><p>巴拉拉能量</p></div>
                                    <div class="col-sm-2"><p>奥特曼</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/xxkg/searchinfo.js"></script>
</body>
</html>