<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>矿工物语</title>
    <script src="../../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/xxkg/index.css" th:href="@{/css/xxkg/index.css}"/>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        $(document).ready(function(){
            $('#main .container-fluit .row>div.col-xs-2.left ul li').eq(6).addClass('active');
        })
    </script>
</head>
<body>
<div id="main">
    <div class="container-fluit">
        <div class="row">
            <div th:replace="xxkg/header :: copy">
                导航栏
            </div>
            <div class="col-xs-10 right">
                <div id="about-message">
                    <div class="page-header">
                        <h1>Game逻辑服务器</h1>
                    </div>
                    <div class="page-body">
                        <button class="btn btn-info" alt="998">988</button>
                        <button class="btn btn-info" alt="1">1</button>
                        <button class="btn btn-info" alt="443">443</button>
                        <button class="btn btn-danger pull-right">刷新</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <textarea class="form-control">123</textarea>
                        </div>
                        <div class="col-sm-2">
                            <b>参数设置:</b>
                            <div class="input-group">
                                <input type="text" class="form-control"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="unit" alt="">秒</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li alt="1"><a href="#">秒</a></li>
                                        <li alt="2"><a href="#">分钟</a></li>
                                        <li alt="3"><a href="#">小时</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default">(次)</button>
                                </div>
                            </div>
                            <div class="input-group">
                                <button class="btn btn-danger">发 送</button>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <h3>记录框<span class="glyphicon glyphicon-star-empty"></span></h3>
                    <div class="message-result">
                        <div class="row" style="border-bottom: 1px solid #fff;">
                            <div class="col-sm-2">日期</div>
                            <div class="col-sm-2">内容</div>
                            <div class="col-sm-2">次数</div>
                            <div class="col-sm-2">间隔(秒)</div>
                            <div class="col-sm-2">状态</div>
                            <div class="col-sm-2">操作</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">2016-12-12</div>
                            <div class="col-sm-2">这是一则通告</div>
                            <div class="col-sm-2">3</div>
                            <div class="col-sm-2">200</div>
                            <div class="col-sm-2">进行中</div>
                            <div class="col-sm-2">删除</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/xxkg/sendmessage.js" th:src="@{../js/xxkg/sendmessage.js}"></script>
</body>
</html>