<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
</head>
<body>
<div class="panel panel-default" th:fragment="xxkg">
    <div class="panel-heading">
        <a th:href="@{/xxkg?account=}+${name}">小小矿工</a>
    </div>
    <div class="panel-body">
        <h4 style="text-indent: 2em;line-height: 26px;">
            矿工物语破解版让你体验一款游戏可以多样化玩法的快感哦，想怎么玩就怎么玩，游戏中各个场地都需要英雄，你能成为最优秀的那个英雄吗？快快来挑战试试吧。
        集合了模拟经营、沙盒挖矿、迷宫探险等丰富有趣的玩法要素，更有多人同时上阵的二次元大乱斗，全方位覆盖一切你想要休闲玩法！
        没有扫荡副本，没有体力购买，尽情游戏，向坑钱坑钻说不！，《矿工物语》中取消了体力概念，挂机生产面包，食用面包轻松获得副本经验~
        </h4>
    </div>
</div>
</body>
</html>