*{
    padding:0;
    margin:0;
}
#yxwd .form-group{
    /*border:1px solid green;*/
}
#yxwd .form-group label{
    line-height: 35px;
    text-align: right;
    color: #333;
    font-weight:normal;
}
#yxwd .form-group>div{
    /*border:1px solid blue;*/
}
/*充值查询*/
#charge-result{
    text-align: center;
}
#charge-result .panel-body{
    max-height: 200px;
    overflow-y: scroll;
}
#charge-result .panel-body .row{
    border-bottom:1px dashed #ccc;
    line-height: 35px;
}