<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="left" th:fragment="header">
    <ul class="list-group">
        <li class="list-group-item"><h3>英雄无敌</h3></li>
        <li class="list-group-item"><a th:href="@{/yxwd?account=}+${name}">注册查询</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd/charge?account=}+${name}">充值查询</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd/active?account=}+${name}">活跃度查询</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd/user?account=}+${name}">用户查询</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd/area?account=}+${name}">分区查询</a></li>
        <li class="list-group-item"><a th:href="@{/yxwd/email?account=}+${name}">邮件发送</a></li>
    </ul>
</div>
</body>
</html>