<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="col-xs-2 left" th:fragment="copy">
        <p>英雄无敌</p>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="index.html">注册人数查询</a></li>
            <li><a href="noticechange.html">充值查询</a></li>
            <li><a href="sendemail.html">活跃度查询</a></li>
            <li><a href="searchinfo.html">用户信息查询</a></li>
            <li><a href="orderwrite.html">分区注册查询</a></li>
            <li><a href="manymail.html">邮件发送</a></li>
        </ul>
        <p class="back"><a href="/index.html"><span class="glyphicon glyphicon-chevron-left"></span>首页</a></p>
    </div>
</body>
</html>