<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
</head>
<body>
<div th:fragment="user">
    <div class="info">
        <div class="page-header">
            <h2>公司简介</h2>
        </div>
        <section>
            上海兔美游戏公司成立于XXXX年XX月，公司致力于精品手机游戏自研，公司核心团队有过多年游戏开发经验，成功主导多款游戏上线运营，
            作为一个初创型的游戏公司，我们已完成了数百万的天使投资。目前投入市场手游有矿工物语、英雄无敌等，在本公司开发的游戏中，90%
            以上的游戏下载量高达100万人次。
        </section>
        <section>
            现在我们迫切的需要一些不安于现状，有奋斗精神的游戏人才加入我们，一起完成精品游戏，打造一流的游戏公司。
            我们提供武汉有竞争力的薪资，并且给予初期加入团队的人员丰厚的项目分红，如果你热爱游戏，如果你不想被束缚，如果你有能力，有梦想，
            请加入我们，一起奋斗吧！
        </section>
    </div>
</div>
</body>
</html>