::-webkit-scrollbar{
	width: 2px;
}
/*登录*/
#login-register{
	border:2px solid #333;
	position: absolute;
	height: 100%;
	width: 100%;
	/*background: url('../image/1.jpeg');*/
	background-size: 100% 100%;
}
#login-register .row .col-xs-8{
	/*border:1px solid yellow;*/
	margin-top:40%;
	width:600px;
	padding:20px;
}
#login-register .row .col-xs-8 .form-group{
	/*border:1px solid yellow;*/
}
#login-register .row .col-xs-8 .form-group lable{
	/*border:1px solid green;*/
	line-height:32px;
	color: #fff;
	text-shadow: 0 0 1px #000;
	text-align: right;
}
#login-register .row .col-xs-8 .login,.register{
	/*border:1px solid yellow;*/
	text-align: center;
	text-shadow: 0 0 1px #fff;
}
#login-register .row .col-xs-8 fieldset{
	border:2px solid #3f9ad6;
	padding:15px 50px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#login-register .row .col-xs-8 fieldset legend{
	border:0;
	width:auto;
}
#login-register .row .col-xs-8 fieldset legend h2{
	color: #3f9ad6;
}





#main{
	/*border: 1px solid green;*/
	padding:0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('../image/1.jpeg');
	background-size: 100% 100%;
}
#main .container-fluit .row>div{
	/*border: 1px solid #333;*/
}
#main .container-fluit .row>div.col-xs-2.left{
	padding:0;
	position: absolute;
	height: 100%;
	border-right: 1px solid #428bca;
}
#main .container-fluit .row>div.col-xs-2.left p{
	text-align: center;
	line-height: 35px;
	font-weight: bolder;
	letter-spacing: 2px;
	color: #fff;
}
#main .container-fluit .row>div.col-xs-2.left p.back{
	position: absolute;
	bottom: 10px;
	left: 45%;
}
#main .container-fluit .row>div.col-xs-2.left p.back a{
	color: #fff;
}
#main .container-fluit .row>div.col-xs-2.left ul li{
	padding-left: 15px;
}
#main .container-fluit .row>div.col-xs-2.left ul li a{
	color: #fff;
}
#main .container-fluit .row>div.col-xs-2.left ul li:hover a{
	color:#333;
}
/*首页右边*/
#main .container-fluit .row>div.col-xs-10.right{
	position: absolute;
	height: 100%;
	left: 18%;
	/*border: 1px solid #fff;*/
}
/*公司简介*/
#main .container-fluit .row>div.col-xs-10 .indroduce{
	margin: 100px ;
	text-align: center;
	color: #fff;
	/*border: 1px solid #fff;*/
	text-indent: 4em;
}
#main .container-fluit .row>div.col-xs-10 .pro-manage{
	/*border: 1px solid #fff;*/
	width: 600px;
	height: 400px;
	position: relative;
	top: 50%;
	left:50%;
	margin-left: -320px;
	margin-top: -200px;
}
.container-fluit .row>div.col-xs-10 .pro-manage .pro{
	width: 100px;
	height: 130px;
	float: left;
	margin:10px 23px;
}
.container-fluit .row>div.col-xs-10 .pro-manage .pro .pic{
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 8px;
	border: 2px solid #999;
}
.container-fluit .row>div.col-xs-10 .pro-manage .pro .pic:hover{
	/*width: 120px;*/
	/*height: 120px;*/
	transform: scale(1.5,1.5);
	box-shadow: 3px 3px 8px #000;
}
.container-fluit .row>div.col-xs-10 .pro-manage .pro p{
	text-align: center;
	color: #fff;
	text-shadow: 0 0 3px #000;
}
.container-fluit .row>div.col-xs-10 .pro-manage .xxkg .pic{
	background: url('../image/xxkg.jpg');
	background-size: 100% 100%;
}
.container-fluit .row>div.col-xs-10 .pro-manage .yxwd .pic{
	background: url('../image/yxwd.jpg');
	background-size: 100% 100%;
}
.container-fluit .row>div.col-xs-10 .pro-manage .yys .pic{
	background: url('../image/yys.jpg');
	background-size: 100% 100%;
}
@media screen and (max-width:1200px){
	body{
		overflow-x: hidden;
	}
}