
#main .col-xs-2 p{
    padding:10px 0;
    border-bottom:1px solid #fff;
}
#main .col-xs-10{
    padding-right:80px;
    overflow-y: scroll;
}
#main .col-xs-10 .project{
    /*border:1px solid yellow;*/
}
#main .col-xs-10 .project .page-header h2{
    color: #fff;
}
#main .col-xs-10 .project .page-header img{
    width:50px;
    height:50px;
}
#main .col-xs-10 .project .list-group-item{
    background: none;
    color: #fff;
    border:none;
}
#main .col-xs-10 .project .list-group-item div.box{
    text-indent: 2em;
    width:350px;
    /*border:1px solid red;*/
}
#main .col-xs-10 .project .list-group-item div.progress{
    box-shadow: 0 0 1px #000;
}
h2 small{
    color:#fff;
}
.progress-bar{
    background: #73c7c8;
}