<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <li class='active'><a href='index.html'>服务器录入</a></li>
    <li><a href='noticechange.html'>公告修改</a></li>
    <li><a href='sendemail.html'>邮件发送</a></li>
    <li><a href='searchonfo.html'>查询信息</a></li>
    <li><a href='orderwrite.html'>指令记录</a></li>
    <li><a href='manymail.html'>多邮件发送</a></li>
    <li><a href='sendmessage.html'>通知发送</a></li>
    <li><a href='giftcreate.html'>礼包生成</a></li>
    <li><a href='conditionsearch.html'>条件查询</a></li>
</div>
