<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>兔美游戏后台管理</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
</head>
<body>
	<div id="main">
		<div class="container-fluit">
			<div class="row">
				<div class="col-xs-2 left">
					<p>兔美游戏管理系统</p>
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#">公司概况</a></li>
						<li><a href="#">项目管理</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">000000000004</a></li>
						<li><a href="#">56666</a></li>
					</ul>
					<p class="back"><a href="/">首页</a></p>
				</div>
				<div class="col-xs-10 right">
					<div class="indroduce show nav">
						<p>这里是公司简介</p>
						蒹葭苍苍，白露为霜。所谓伊人，在水一方，溯洄从之，道阻且长。溯游从之，宛在水中央。蒹葭萋萋，
						白露未晞。所谓伊人，在水之湄。溯洄从之，道阻且跻。溯游从之，宛在水中坻。蒹葭采采，白露未已。
						所谓伊人，在水之涘。溯洄从之，道阻且右。溯游从之，宛在水中沚。
					</div>
					<div class="pro-manage hidden nav">
						<div class="xxkg pro">
							<a href="xxkg/index.html">
								<div class="pic">
									
								</div>
							</a>
							<p>小小矿工</p>
						</div>
						<div class="yxwd pro">
							<div class="pic">
								
							</div>
							<p>英雄无敌</p>
						</div>
						<div class="pro yys">
							<div class="pic">
								
							</div>
							<p>阴阳师</p>
						</div>
						<div class="pro">
							<div class="pic">
								
							</div>
							<p>英雄无敌</p>
						</div>
						<div class="pro">
							<div class="pic">
								
							</div>
							<p>小小矿工</p>
						</div>
						<div class="pro">
							<div class="pic">
								
							</div>
							<p>英雄无敌</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/common.js"></script>
</body>
</html>