<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>兔美游戏后台权限管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/style.css}"/>
    <script src="../../static/js/jquery-1.10.2.min.js" type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="admin/nav :: nav"></div>
<div id="usercenter">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li>个人中心</li>
    </ol>
    <ul class="list-group">
        <li class="list-group-item">
            <span>账号：</span>
            <span th:text="${detial.account}"></span>
        </li>
        <li class="list-group-item">
            <span>密码：</span>
            <span th:text="${detial.passwd}"></span>
        </li>
        <li class="list-group-item">
            <span>角色：</span>
            <span th:text="${detial.role}"></span>
        </li>
        <li class="list-group-item">
            <span>创建时间：</span>
            <span th:text="'20'+${{detial.createtime}}"></span>
        </li>
    </ul>
</div>
</body>
</html>